
@import "ember-bootstrap/bootstrap";
.jumbotron {
  text-align: center;
  background-color: red;
  h1{
    color: white;
  }
}

body {
  background-color: blue;
  h2 {
    color: yellow;
    font-size: 4em;
  }
  li {
    font-size: 2em;
  }
}
